@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;

    .header__logo {
        img {
            width: 74px;
            height: 85px;
        }
    }
}

.header__search {
    max-width: 350px;
    height: 35px;
    width: 100%;
    margin: 0;
    position: relative;

    input {
        display: block;
        width: 100%;
        height: 30px;
        outline: none;
        padding-left: 10px;
        padding-right: 50px;
    }

    button {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 4px;
        right: 3px;
        outline: none;
        cursor: pointer;

        img {
            width: 18px;
            height: 18px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 70px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 18px;
        }

        a {
            color: #fff;
            font-size: 23px;
        }
    }
}

// end header
// start slider

.slider__inner {
    background-color: $bg;

    &-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 250px;
    }

    .slick-dots {
        text-align: center;

        li {
            display: inline-block;
            margin-left: 6px;
            margin-right: 6px;

            &.slick-active {
                button {
                    background-color: $yellow;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end slider
// start slider-menu

.slider-menu {
    min-height: 130px;
    background-color: $bg;

    a {
        color: #fff;
    }

    &__inner {
        .slider-menu__item {
            text-align: center;
            align-items: center;
        }
    }

    .ustanovy__inner-item {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        outline: none;
        margin-top: 15px;




        img {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
        }
    }

    .slick-prev {
        top: 52px;
    }

    .slick-next {
        top: 52px;
    }

    .slick-prev:before {
        content: url(../images/ustanovy/sliderl.png);
    }

    .slick-next:before {
        content: url(../images/ustanovy/sliderr.png);
    }
}

// end slider-menu
// start mini-menu

.mini-menu {
    height: 120px;
    padding-top: 14px;

    .container {
        background-color: $green;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.text-svg-link {
    .item__title {
        color: #fff;
    }

    svg {
        fill: #fff;
    }
}

.text-svg-link:hover {
    .item__title {
        color: $yellow;
    }

    .item__image {
        svg {
            fill: $yellow;
        }
    }
}

.mini-menu__item {
    text-align: center;
    align-items: center;


    .item__title {
        font-size: 14px;
    }
}




// end mini-menu
// start news

.news {
    height: 1100px;
}

.news__inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.news__inner-item {
    width: 314px;
    height: 471px;
    margin-right: 75px;
    margin-bottom: 35px;

    img {
        width: 310px;
        height: 311px;
    }

    .item__title {
        font-size: 24px;
        font-weight: 700;
        padding: 25px 0 15px;

        a {
            color: $text;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .item__text {
        color: $text;
        font-size: 16px;
    }
}

// end news
// start ustanovy


.ustanovy__inner {
    background-color: $bg;
    padding: 10px;

    .ustanovy__inner-title {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    .links {

        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;


        a {
            padding: 15px 5px 5px 10px;
            align-items: center;

            .ustanovy__inner-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                color: #fff;
                width: 150px;


                img {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 25px;
                }
            }
        }

        a:hover {
            .ustanovy__inner-item {
                color: $yellow;
            }
        }
    }
}

// end ustanovy
// start gov-links

.gov__links {
    background-color: $green;
    min-height: 122px;
    margin: 15px 0 15px;

    .wrapper {
        display: flex;
    }

    &-item {
        width: 238px;
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &-item:hover {
        border-bottom: 2px solid $yellow;

        .item__title {
            a {
                color: $yellow;
            }
        }
    }



    .item__title {
        max-width: 150px;

        a {
            color: #fff;
            padding-left: 10px;
        }
    }
}

// end gov-links
// start poll

.poll {
    margin-bottom: 15px;

    &__inner {
        min-height: 175px;
        width: 1140px;
        background-color: #32CD32;
        display: flex;
        align-items: center;
        text-align: center;

        a {
            width: 100%;

            .poll__title {
                font-size: 30px;
                margin: 20px 0 10px;
            }

            .poll__text {
                font-size: 22px;
            }
        }

    }
}

// end poll
// start petition

.petition__inner {
    border-left: 3px solid $yellow;
    margin-bottom: 20px;

    &-title {
        font-size: 24px;
        font-weight: 700;
        width: 240px;
        margin: 10px 0 5px 15px;
    }

    &-text {
        font-size: 14px;
        font-weight: 200;
        margin-left: 15px;
    }
}

// end petition

// start footer

.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }

    .footer__col {
        float: left;
        max-width: 320px;
        width: 100%;

        &-top {

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            a {
                margin-right: 10px;
                font-size: 24px;
                font-weight: 700;
            }

            img {
                width: 125px;
                height: 135px;
            }
        }
    }

    .footer__col {

        &-title {
            font-size: 24px;
            margin-bottom: 16px;
        }


    }
}

.footer__col-list {
    font-size: 16px;
    max-width: 320px;

    a {
        position: relative;
        padding-left: 22px;
        margin-bottom: 13px;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/arrow-right.svg);
            width: 10px;
            height: 10px;
            background-size: 100% 100%;
            left: 0px;
            top: 4px;
        }
    }
}

.footer__col-adress {
    line-height: 21px;
}

// end footer

// start todo

.todo {
    background-color: $yellow;
    color: #000;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    min-height: 500px;
    margin-bottom: 25px;
}

// end todo

// start koda-news

.koda-news__inner {
    padding: 20px 20px 0;
    min-height: 500px;
    background-color: #fff;
    padding-bottom: 100px; 

    button {
        background-image: url(../images/fbshare.png);
        width: 169px;
        height: 37px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.inner__photo {
    margin-right: 50px;
    margin-bottom: 60px;
    align-items: center;
    display: flex;

    img {
        width: 320px;
        height: 320px;
        margin-right: 20px;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        color: #454a48;
        max-width: 650px;        
    }
}

.inner__text {
    color: #333;
    margin-bottom: 45px;

    span {
        font-weight: 700;
    }
}

// end koda-news